{% extends 'base.html' %}

<head>
    {% block meta %}
    <title>Create Task</title>
    {% endblock meta %}
</head>

<body>
    {% block content %}
    <!-- Section: Design Block -->
    <section class="">
        <!-- Jumbotron -->
        <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
          <div class="container">
            <div class="row gx-lg-5 align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <h1 class="my-5 display-3 fw-bold ls-tight">
                  Create New Task<br />
                  <span class="text-primary">...</span>
                </h1>
                <p style="color: hsl(217, 10%, 50.8%)">
                  Tugas 5 PBP Tugas 5 PBP Tugas 5 PBP Tugas 5 PBP Tugas 5 PBP Tugas 5 PBP
                  Tugas 5 PBP Tugas 5 PBP Tugas 5 PBP Tugas 5 PBP Tugas 5 PBP Tugas 5 PBP
                  Tugas 5 PBP Tugas 5 PBP Tugas 5 PBP Tugas 5 PBP Tugas 5 PBP Tugas 5 PBP
                </p>
              </div>
      
              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                  <div class="card-body py-5 px-md-5">
                    <div class = "create_task">
                        <form action = "" method = "post">
                            {% csrf_token %}
                            {{form}}
                            <input type = "submit" class="btn btn-primary btn-block mb-4">
                        </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Jumbotron -->
      </section>
      <!-- Section: Design Block -->
      {% endblock content %}
</body>
