{% extends 'base.html' %}

{% block content %}
<h3>Hi, {{username}}!</h3>

<table>
    <tr>
    <th>User</th>
    <th>Date</th>
    <th>Title</th>
    <th>Description</th>
    <th>Finished</th>
    </tr>
    {% for task in list_task %}
    <tr>
        <th>{{task.user}}</th>
        <th>{{task.date}}</th>
        <th>{{task.title}}</th>
        <th>{{task.description}}</th>
        <th>{{task.is_finished}}</th>
        <th><button><a href="{% url 'todolist:change_status' task.pk %}">Change Status</a></button></th>
        <th><button><a href="{% url 'todolist:delete_task' task.pk %}">Delete Task</a></button></th>
    </tr>
{% endfor %}
</table>

<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
<button><a href="{% url 'todolist:create_task' %}">Create Task</a></button>

<br>

{% endblock content %}